@media(max-width:1100px){
	.footer__content{
	padding-left: 0;
}
}

@media(max-width:1000px){
	.services__item{
	width: 50%;
	padding-left: 50px;
	margin-bottom: 30px;
}

	.services__item + .services__item{
	padding-left: 50px;
}
	.features__cal{
	width: 100%;
	margin-bottom: 50px;
}
	.video-s{
	max-width:100%;
	width: 100%;
	padding-left: 0;
}

}

@media(max-width:900px){
	.who__blog{
	width: 100%;
}
	.blog__text{
	padding-left: 0;
}
}

@media(max-width:750px){
	.menu{
	display: none;
	top:100%;
	position: absolute;
	width: 100%;
	text-align: center;
	left: 0;
	background-color:#404e57;
}

	.menu__list{
	margin: 0 auto;
	flex-direction:column;
}


	.burger{
	display: block;
}
	.intro__title{
	font-size:30px;
	line-height:54px;
}
	.intro{
	padding: 170px 0;
}
	.intro__inner{
	margin-bottom: 70px;
}
	.twitter__text{
	font-size:25px;
	line-height: 35px;
}
	.sections__tabs{
	padding: 70px 0;
}
	.features{
	padding: 40px 0;
}
	.tabs__span{
	display: block;
	overflow: hidden;
	text-align: center;
}
	.tabs__list{
	flex-wrap:wrap;
	width: 50%;
	justify-content: center;
}
	img.mfp-img{
	width: auto;
}
.tabs__heading{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.tabs__list{
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	align-items: center;
}
}

@media(max-width:630px){
	.intro__title{
	font-size:25px;
	line-height:40px;
}
	.services__item{
	width: 100%;
	text-align:center;
	padding-left: 0;
}
	.services__item + .services__item{
	padding-left: 0;
}
	.twitter__text {
    font-size: 20px;
    line-height: 30px;
}
	.title {
	font-size:26px;
}
	.testimonals__text{
	font-size:20px;
}
	.testimonals{
	padding: 60px 0;
}
	.who{
	padding: 60px 0;
}
	.tabs{
	padding: 60px 0;
}
	.services{
	padding: 60px 0;
}
}
@media(max-width:480px){
	.intro__title{
	font-size:20px;
	line-height:40px;
}
	.intro{
	padding: 70px 0;
}
	.intro__inner{
	margin-bottom: 50px;
}
	.twitter__text {
    font-size: 16px;
    line-height: 27px;
}
	.features__text{
	font-size:11px;
}
	.testimonals__text{
	font-size:11px;
	margin-bottom:15px;
	line-height: 28px;
}
	.footer__btn{
	padding: 16px 100px;
}
	
}
@media(max-width:380px){
	.intro__title{
	font-size:15px;
	line-height:30px;
}
	.social{
	display: flex;
	padding-left: 0;
}	
	.social__link{
	font-size:15px;
	margin-left: 10px;
}
}