*, *:before, *:after{
	box-sizing:border-box;
	margin: 0;
	padding: 0;
}


h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color:inherit;
	display: inline-block;
}

p{
	margin: 0;
	padding: 0;
}

ul,li{
	margin: 0;
	padding: 0;
	list-style:none;
}
html,
body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI';
	font-size:14px;
	line-height: 21px;
	color:#fff;
	scroll-behavior: smooth;
}


.header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	background: rgba(63,74,81,.8);
}


.container{
	max-width:1200px;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 15px;
}

.header__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 0;
}

.menu__list{
	display: flex;
}

.menu__list-item{
	margin: 0 11px;
}

.menu__list-link{
	font-weight: 500;
	text-transform: uppercase;
	border: 2px solid transparent;
	transition: all .4s linear;
	padding: 5px 10px;

}

.menu__list-link:hover{
	color:#49a1c7;
	border: 2px solid #49a1c7;
}
/*intro*/

.intro{
	padding: 250px 0;
	background-image: url('../img/bk_01.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.intro__inner{
	max-width: 1010px;
	margin: 0 auto;
	text-align: center;
	margin-top: 150px;

}

.intro__title{
	text-transform: uppercase;
	
	font-size:42px;
	font-weight: 100;
	line-height: 62px;
	font-style: italic;
}

.span-sub{
	background-color: rgba(75,85,93,.7);
	padding: 0 5px;
}

.span-title{
	background-color: rgba(75,85,93,.7);
	padding: 0 5px;
}
/*SERVICES*/

.services{
	background:#4bcaff;
	padding: 80px 0 60px;
}

.title{
	text-transform: uppercase;
	font-size:30px;
	line-height: 24px;
	font-weight: 100;
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 30px;
	transition: color .3s linear;
}

.title:hover{
	color:#c7f91a;
}

.title::after{
	content:"";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 45px;
	height: 2px;
	background:#fff;
}

.services__inner{
	display: flex;
	flex-wrap:wrap;
}

.services__item{
	width: 25%;
}

.services__item + .services__item{
	padding-left: 35px;
}

.services__img{
	z-index: 2;
	margin-bottom: 15px;
}

.item__name{
	font-size:24px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 15px;
}

.item__text{
	font-size:12px;
	line-height: 18px;
	font-family: 'Segoe UI';
	font-weight: 700;
}



/*sections__tabs*/

.tabs{
	padding: 80px 0;
}

.portfolio__title{
	color:#8b949a;
	position: relative;
}

.portfolio__title::after{
	content:"";
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 60px;
	height: 2px;
	background-color:#8b949a;
}

.tabs__heading{
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
	margin-bottom: 70px;
}

.tabs__link{
	color:#8b949a;
	margin: 0 20px;
	font-weight: 700;
	border:2px solid transparent;
	padding: 5px;
}

.tabs__link:hover{
	color:#87dcff;
	border:2px solid #87dcff;
	z-index: 2;
}

.tabs__list{
	display: flex;
	text-transform: uppercase;
}

.content{
	display: flex;
	flex-wrap:wrap;
	justify-content: space-around;
}


.content__item{
	display: flex;
	width: 25%;
	margin-bottom: 20px;
	width: 270px;
}

.content__img{
	position: relative;
	transition: transform .4s linear;
}

.content__photo{
	transition: transform .4s linear;
}

.content__img::after{
	content:"";
	position: absolute;
	transition: all .5s linear;
	width: 32px;
	height: 33px;
	background-image: url('../img/portfolio/+.png');
	background-repeat: no-repeat;
	width: 100%;
	height: 98%;
	top: 0;
	left: 0;
	cursor: pointer;
	background-position:  center;
	text-align:center;
	z-index: 1;
	opacity: 0;
	transition: transform .4s linear;
}

.content__img:hover.content__img::after {
	background-color:rgba(62,71,78,.9);
	opacity: 1;
	transform: rotate(5deg);
}

.content__img:hover .content__photo{
	transform: scale(1.1) rotate(5deg);
}


.tabs__content{
	display: none;
}

.tabs__content.tabs-content--active{
	display: block;
}

/*BURGER*/

.burger{
	font-size:0;
	background-color:transparent;
	padding: 0;
	border:none;
	padding: 9px 12px;
	cursor: pointer;
	display: none;
	outline: none;
}

.burger__item{
	position: relative;
	width: 30px;
	height: 3px;
	display: block;
	background-color:#fff;
}


.burger__item::after,
.burger__item::before{
	content:"";
	position: absolute;
	left: 0;
	height: 100%;
	background-color:#fff;
}

.burger__item::before{
	top:-8px;
	width: 30px;
}


.burger__item::after{
	bottom:-8px;
	width: 30px;
}
.burger__item.active{
	transform: rotate(45deg);
	/*display: none;*/
}
.burger__item.active::after{
	/*transform: rotate(45deg);*/
	display: none;
}
.burger__item.active::before{
	transform: rotate(-90deg);
	top:0;
}
.menu.show{
	display: flex;
}


.header.fixed{
	position: fixed;
	height: auto;
}

.header.fixed .header__inner{
	padding: 10px;
}



/*FEATURES*/


.features{
	background-color:#515f67;
	padding: 70px 0;
}

.features__inner{
	display: flex;
	flex-wrap:wrap;
}

.features__cal{
	width: 50%;
}


.features__text{
	margin-bottom: 25px;
}


.features__link{
	font-size:14px;
	line-height: 25px;
	color:#353f46;
	font-weight: 800;
	text-transform: uppercase;
	padding: 10px 36px;
	border: 2px solid #38434a;
	transition: all .5s linear;
}

.features__link:hover{
	background: #133b53;
	color:#fff;
	border: 2px solid gray;
}

.video-s{
	width: 100%;
	max-width:655px;
	padding-left: 65px;
}

/*twitter*/

.twitter{
	padding: 70px 0;
	background-color:#4bcaff;
	position: relative;

}

.twitter__text{
	font-size:28px;
	line-height: 50px;
	font-weight: 700;
	color:#9ee1ff;
	opacity: 1;
}

.twit__link{
	color:#fefefe;
}

.twitter__title{
	position: relative;
}

.icons{
	position: absolute;
	top:70px;
	right: 70px;
}


/*WHO*/

.who{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-image: url('../img/twitter/twit.jpg');
	padding: 100px 0 150px;
}

.who__inner{
	display: flex;
	flex-wrap: wrap;
}

.who__blog{
	width: 50%;
}

.blog__text-title{
	margin-bottom: 35px;
}

.blog__text{
	margin-bottom: 35px;
	padding-left: 40px;
}

.social{
	padding-left: 40px;
}

.social__link{
	border: 2px solid #fff;
	padding: 15px;
	font-size:25px;
	margin: 0 5px;
	transition: all .5s linear;
}

.social__link:hover{
	background-color:#1d2be8;
	color:#fff;
	border: 2px solid #000;
}

/*TESTIMONALS*/

.testimonals{
	position: relative;
	padding: 70px 0;
}


.testimonals__title{
	color:#b6bbbe;
}

.testimonals__text{
	color:#979fa3;
	font-size:28px;
	line-height: 50px;
	margin-bottom: 35px;
}


.author{
	color:#4bcaff;
	font-size:14px;
	line-height: 50px;
	font-weight: 700;
}


/*FOOTER*/

.footer{
	background-image: url('../img/footer/footer-bk.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

}

.footer__inner{
	display: flex;
	align-items:center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.footer__content{
	width: 580px;
	max-width:100%;	
	padding-left: 125px;
	color:#feefef;
	font-size:14px;
}

.footer__text{
	margin-bottom: 35px;
}



.footer__title{
	padding-top: 75px;
}

.sub__input{
	text-transform: uppercase;
	font-weight: 700;
	color:#e3e5e6;
	margin-bottom: 8px;
}

.input__name{
	height: 50px;
	padding: 10px 150px 10px 10px;
	width: 100%;
	margin-bottom: 35px;
}

.message__name{
	text-transform: uppercase;
	font-weight: 700;
	color:#e3e5e6;
	margin-bottom: 8px;
}

.text__area{
	width: 100%;
	max-width:100%;
	padding: 10px 10px;
	margin-bottom: 35px;
}

.text__area:focus{
	outline:none;
	border: 1px solid #4bcaff;
}

.footer__btn{
	border:none;
	background-color:transparent;
	text-transform: uppercase;
	padding: 16px 155px;
	background:#4bcaff;
	margin-bottom: 75px;
	cursor: pointer;
	color:#fff;
	font-weight: 700;
}



/*ANIMATE*/


/*SERVICES__INNER*/
[data-aos="new-animation"]{
	-webkit-transform: translateX(-1000px);
	transform: translateX(-1000px);
	opacity: 0;

}

[data-aos="new-animation"].aos-animate{
	-webkit-transform: translateX(0);
	transform: translateX(0);
	opacity: 1;
}
/*SERVICES__INNER*/


/*features*/
[data-aos="new-animate"]{	
	-webkit-transform: rotateY(-100deg);
	transform: rotateY(-100deg);
	-webkit-transform-origin: right;
	transform-origin: right;
	opacity: 0;
}

[data-aos="new-animate"].aos-animate{
	-webkit-transform: rotateY(0);
	transform: rotateY(0);
	-webkit-transform-origin: right;
	transform-origin: right;
	opacity: 1;
}



[data-aos="new-animates"]{
	-webkit-transform: rotateY(-100deg);
	transform: rotateY(-100deg);
	-webkit-transform-origin: right;
	transform-origin: right;
	opacity: 0;
}


[data-aos="new-animates"].aos-animate{
	-webkit-transform: rotateY(0);
	transform: rotateY(0);
	-webkit-transform-origin: right;
	transform-origin: right;
	opacity: 1;
}

/*features*/

/*WHO*/
[data-aos="new-animations"]{
	    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
}


[data-aos="new-animations"].aos-animate{
	   -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
}
/*WHO*/

/*footer*/
[data-aos="new-anime"]{
	-webkit-transform: rotateY(-30deg) translateY(300px) skewY(30deg);
	transform: rotateY(-30deg) translateY(300px) skewY(30deg);
	opacity: 0;
}

[data-aos="new-anime"].aos-animate{
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
            transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
}

/*footer*/

[data-aos="new-animations"]{
	  -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
            transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
}

[data-aos="new-animations"].aos-animate{
	 -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
            transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
}

img.mfp-img{
	width: 450px;
}